# Ignore those files
*.ipynb_checkpoints\
*.DS_Store
Lab 2 data/.ipynb_checkpoints/
Lab 2 data/
Lab 3 data/data/
Lab 3 data/Crimes_-_2001_to_Present_20240220 copy.csv
Lab 3 data/Crimes_-_2001_to_Present_20240220.csv
.ipynb_checkpoints/Lab_Assignment_1_2024-checkpoint.ipynb
assignment/lab assignement/.ipynb_checkpoints/Lab_Assignment_1_2024-checkpoint.pdf
Lab_Assignment_1_2024.ipynb.invalid
assignment/lab assignement/.ipynb_checkpoints/Lab_Assignment_1_2024-checkpoint.ipynb
/Users/selmachristensen/Documents/UA Repo1/Lab 3 data/Crimes_-_2001_to_Present_20240220.csv
/Users/selmachristensen/Documents/UA Repo1/Lab 3 data/Crimes_-_2001_to_Present_20240220.csv